# Ignore specific files in backend folder
backend/credentials.json
backend/.env
backend/token.json

# Ignore __pycache__ folder in backend
backend/__pycache__/

# Ignore Manual folder in backend
backend/Manual/

# Ignore specific files in frontend folder
frontend/.env
